<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Welcome | Tie Admin</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui">
  <!-- author meta -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Tie admin" />
  <meta name="keywords" content="Tie admin" />
  <meta name="author" content="phoenixcoded" />
  <link rel="stylesheet" type="text/css" href="assets/icon/feather/fonts/feather.css">
  <link rel="icon" type="image/x-icon" href="">
  <script src="https://cdn.ckeditor.com/4.5.11/full-all/ckeditor.js"></script>
  <!--Start of Tawk.to Script-->
  <!-- <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5e40f484298c395d1ce71177/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script> -->
  <!--End of Tawk.to Script-->
  <!-- font style -->
<link rel="stylesheet" href="styles.2b3ebe5166c506e50b8f.css"></head>

<body>

  <app-root>
    <div class="loading"></div>
  </app-root>
  <!-- Start of REVE Chat Script-->
  <!-- <script type='text/javascript'>
    window.$_REVECHAT_API || (function (d, w) {
      var r = $_REVECHAT_API = function (c) { r._.push(c); }; w.__revechat_account = '6876176'; w.__revechat_version = 2;
      r._ = []; var rc = d.createElement('script'); rc.type = 'text/javascript'; rc.async = true; rc.setAttribute('charset', 'utf-8');
      rc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'static.revechat.com/widget/scripts/new-livechat.js?' + new Date().getTime();
      var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(rc, s);
    })(document, window);
  </script> -->
  <!-- End of REVE Chat Script -->
<script type="text/javascript" src="runtime.ce2aaaf96251627c4915.js"></script><script type="text/javascript" src="polyfills.9936f4ceb95a9d1d9ff5.js"></script><script type="text/javascript" src="scripts.55727fc6a8c9f0923f7d.js"></script><script type="text/javascript" src="main.585ce6e6b2c9608fce60.js"></script></body>

</html>